{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<div class='row'>
<div class='col-sm-12 col-sm-offset-3'>
<h2 class='text-align-center'><strong>Registrar Usuario</strong></h2>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}
        <form action="" method="POST">
            {% csrf_token %}
            <input class="btn btn-info" type="reset" value="Limpiar">
            <input class="btn btn-success" type="submit" value="Registrar">

        </form>
{% endblock %}